@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Cascadia Code";
  src: url("../../public/fonts/CascadiaCode-Medium.ttf") format("truetype");
}

@theme {
  --font-cascadia: "Cascadia Code";
  /* dark colors */
  --color-primaryDark : #64E2B7;
  --color-darkText : #607B96;
  --color-bgDark : #011627;
  /* ligth colors */
  --color-primaryLight : #3A59D1;
}